.banner{
    background-image: url('./Images/main-banner.jpg');
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.MuiPaper-elevation1{
    background: transparent!important;
}

.MuiSvgIcon-root{
    color: #fff;
}
.Mui-selected .MuiSvgIcon-root{
    color: #3f51b5;
}


.MuiPaper-root{
    max-width: none!important;
}

.MuiTab-wrapper{
    font-weight: 700;
}

.MuiButtonBase-root .MuiTab-wrapper{
    color: #fff;
}

.Mui-selected .MuiTab-wrapper{
    color: #3f51b5;
}

.bannerText{
text-align: center;
   color: #fff;
   margin-top: 12rem;
}
.bannerText h1{
    font-size: 4rem;
    text-transform: uppercase;
}

.bannerText h3{
    align-self: unset;
    text-transform: uppercase;
}

.bannerDetails{
    margin-top: 4%;
    align-items: center;
    color: #fff;
    background-color: #1e1e1c;
    height: 16rem;
    padding: 3%;
}

.headingCol img{
    border: 1px solid #fff;
    height: 11rem;
}
.headingCol h3{
    padding-top: 2%;
}

.headingCol p{
    margin-top: 2rem;
}

.headingCol span{
    font-size: 0.7rem;
}

.courseDetails{
    margin-top: 3%;
}

@media (max-width:575px){
    .bannerDetails{

        height: 25rem;   
    }
    .row{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:666px){

    .headingCol img{
        height: 10rem;
    }
}
@media only screen and (max-width:621px){
    .headingCol p{
        margin-top: 0.7rem;
        font-size: 0.7rem;
    }
}
@media only screen and (max-width:605px){

    .headingCol img{
        height: 9rem;
        width: 100%;
    }

    .headingCol p{
        font-size: 1rem;
    }
    
    .headingCol span{
        font-size: 0.7rem;
    }
}

@media only screen and (max-width:766px){
   .headingCol p{
        font-size: 0.8rem;
    }
    
    .headingCol span{
        font-size: 0.6rem;
    }
    .bannerDetails{
        margin-top: 0;
    }
}